@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@{
    int i = 0;
    var itemModels = Model.Items.ToList();
}
<!-- Haberler -->
<div class="page-section-news">
    <div class="page-section-news__title">
        <h2>Haberler</h2>
    </div>

        <div class="page-section-news-other">

            @foreach (var item in Model.Items.Take(5))
            {
                i = i + 1;

                if (i == 1)
                {
                    <div class="page-section-news-other-left">
                        <a href="@item.Fields.NewUrl">
                            <div class="page-section-news-other-left-news">
                                @if (item.Fields.Photo != null)
                                {
                                    foreach (var pht in item.Fields.Photo)
                                    {
                                            <img src="@pht.Fields.MediaUrl" alt="">                                        
                                    }
                                }
                                <div class="page-section-news-other-left-news-content">
                                    <div class="page-section-news-other-left-news-content__date">
                                        @if (item.Fields.Date != null && (DateTime?)item.Fields.Date != null)
                                        {
                                            <span>@(((DateTime?)item.Fields.Date).Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("tr-TR")))</span>
                                        }
                                    </div>
                                    <div class="page-section-news-other-left-news-content__title">
                                        <span>@item.Fields.Title</span>
                                    </div>
                                    @*<div class="page-section-news-other-left-news-content__text">
                                        <span>@item.Fields.Summary</span>
                                    </div>*@
                                </div>
                            </div>
                        </a>
                    </div>
                }

                if (i == 2 || i==3)
                {


                    if (i == 2)
                    {
                        @Html.Raw("<div class='page-section-news-other-middle'>")
                        <a href="@item.Fields.NewUrl" class="page-section-news-other-middle-news">
                            <div class="page-section-news-other-middle-news-content">
                                <div class="page-section-news-other-middle-news-content__title">
                                    <span>@item.Fields.Title</span>
                                </div>
                                @*<div class="page-section-news-other-middle-news-content__text">
                                    <p>@item.Fields.Summary</p>
                                </div>*@
                                <div class="page-section-news-other-middle-news-content__icon news-middle-icon-first">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    }
                    if (i == 3)
                    {
                        <a href="@item.Fields.NewUrl" class="page-section-news-other-middle-news">
                            <div class="page-section-news-other-middle-news-content">
                                <div class="page-section-news-other-middle-news-content__title">
                                    <span>@item.Fields.Title</span>
                                </div>
                                @*<div class="page-section-news-other-middle-news-content__text">
                                    <p>@item.Fields.Summary</p>
                                </div>*@
                                <div class="page-section-news-other-middle-news-content__icon news-middle-icon-first">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                            @Html.Raw("</div>")
                    }


                }

                if (i == 4)
                {

                    <div class="page-section-news-other-right">
                        <a href="@item.Fields.NewUrl">
                            <div class="page-section-news-other-right-news">
                                @if (item.Fields.Photo != null)
                                {
                                    foreach (var pht in item.Fields.Photo)
                                    {
                                        <img src="@pht.Fields.MediaUrl" alt="">
                                    }
                                }
                                <div class="page-section-news-other-right-news-content">
                                    <div class="page-section-news-other-right-news-content__date">
                                        @if (item.Fields.Date != null && (DateTime?)item.Fields.Date != null)
                                        {
                                            <span>@(((DateTime?)item.Fields.Date).Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("tr-TR")))</span>
                                        }
                                    </div>
                                    <div class="page-section-news-other-right-news-content__title">
                                        <span>@item.Fields.Title</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            }





        </div>

</div>
