@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;

@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Modules.Pages;

@{PageManager pm = new PageManager();
}

@{

}

@helper GetMegaMenu(string parentPageUrl)
{
List<PageNode>
    pageNodes;
    if (parentPageUrl != "")
    {
    SitefinityWebApp.Library.ToolsSF tt = new SitefinityWebApp.Library.ToolsSF();

    pageNodes = Telerik.Sitefinity.App.WorkWith().Pages().Where(ii => ii.Parent != null && ii.ShowInNavigation == true && ii.Parent.UrlName == parentPageUrl).OrderBy(item => item.Ordinal).Get().ToList();

    foreach (var item in pageNodes)
    {
    <a href="@item.GetUrl().Replace(" ~","")" class="sitemap-section-maintitle">@item.Title</a>

    foreach (var itemNode in tt.GetMegaMenu(item.UrlName))
    {
    <a href="@itemNode.GetUrl().Replace(" ~","")" class="sitemap-section-subtitle">@itemNode.Title</a>
    }

    }

    }
}

<div class="sitemap">
    <div class="sitemap-section">
        <a href="#" class="sitemap-section-grouptitle">Kurumsal</a>
        @GetMegaMenu("kurumsal")
    </div>
    <div class="sitemap-section">
        <a href="#" class="sitemap-section-grouptitle"><span>Ürünler ve Hizmetler</span></a>
        @GetMegaMenu("urunler-ve-hizmetler")
    </div>
    <div class="sitemap-section">
        <a href="#" class="sitemap-section-grouptitle"><span>E-Dönüşüm</span></a>
        @GetMegaMenu("e-donusum")
    </div>
    <div class="sitemap-section">
        <a href="/iletisim" class="sitemap-section-grouptitle"><span>İletişim</span></a>
        @GetMegaMenu("iletisim")
    </div>
</div>