@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;

@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Modules.Pages;

@{PageManager pm = new PageManager();
}

@{

}

@helper GetMegaMenu(string parentPageUrl)
{
List<PageNode>
    pageNodes;
    if (parentPageUrl != "")
    {
    SitefinityWebApp.Library.ToolsSF tt = new SitefinityWebApp.Library.ToolsSF();

    pageNodes = Telerik.Sitefinity.App.WorkWith().Pages().Where(ii => ii.Parent != null && ii.ShowInNavigation == true && ii.Parent.UrlName == parentPageUrl).OrderBy(item => item.Ordinal).Get().ToList();

    foreach (var item in pageNodes)
    {
    <span class="sitemap-section-maintitle"><a href="@item.GetUrl().Replace("~","")">@item.Title</a></span>

    foreach (var itemNode in tt.GetMegaMenu(item.UrlName))
    {
    <span class="sitemap-section-subtitle"><a href="@itemNode.GetUrl().Replace("~","")">@itemNode.Title</a></span>
    }

    }

    }
}

    <div class="sitemap">
        <div class="sitemap-section">
            <span class="sitemap-section-grouptitle"><a href="">Kurumsal</a></span>
            @GetMegaMenu("kurumsal")
        </div>
        <div class="sitemap-section">
            <span href="#" class="sitemap-section-grouptitle"><a href="">Ürünler ve Hizmetler</a></span>
            @GetMegaMenu("urunler-ve-hizmetler")
        </div>
        <div class="sitemap-section">
            <span href="/e-donusum" class="sitemap-section-grouptitle"><a href="/e-donusum">E-Dönüşüm</a></span>
            @GetMegaMenu("e-donusum")
        </div>
        <div class="sitemap-section">
            <span href="/is-ortaklari" class="sitemap-section-grouptitle"><a href="/is-ortaklari">İş Ortakları</a></span>
            @GetMegaMenu("is-ortaklari")
        </div>
        <div class="sitemap-section">
            <span class="sitemap-section-grouptitle"><a href="/gizlilik-bildirgesi" target="_blank">Gizlilik <br />Bildirgesi</a></span>
            <span class="sitemap-section-grouptitle"><a href="/kullanim-sozlesmesi" target="_blank">Kullanım <br />Sözleşmesi</a></span>
            <span class="sitemap-section-grouptitle"><a href="/bilgi-guvenligi-ve-cerez-politikasi" target="_blank">Bilgi Güvenliği ve Çerez Politikası</a></span>
        </div>
        <div class="sitemap-section">
            <span class="sitemap-section-grouptitle"><a href="/iletisim">İletişim</a></span>
            @GetMegaMenu("iletisim")
            <span class="sitemap-section-grouptitle"><a href="http://forum.mikro.com.tr" target="_blank">Forum Mikro</a></span>
            <span class="sitemap-section-grouptitle"><a href="http://blog.mikro.com.tr" target="_blank">Blog</a></span>
        </div>
    </div>