@model SitefinityWebApp.Mvc.Models.ViewModel.ContactForm


@using (@Html.BeginForm("Index", "ContactForm", FormMethod.Post))
{ }
@using (Html.BeginForm(null, null, FormMethod.Post, new { action = "https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8", id= "contactDetailForm" }))
{
    <input type=hidden name="oid" value="00D0Y0000035HER">
    <input type="hidden" id="00N0Y00000RE6zR" name="00N0Y00000RE6zR" />
    <input type="hidden" id="00N0Y00000RBugB" name="00N0Y00000RBugB" value="Pre-sales channel">
    <input type="hidden" id="mesaj" name="00N0Y00000QeNcc" value="ContactUs" />


   @Html.HiddenFor(m => m.retURL, new { Value = Const.FormReturnUrl })

    
 <div class="wizard-bottom contact-us-area">
    <div class="wizard-bottom-left">
        <div class="wizard-bottom-left-content">
            <div class="wizard-bottom-left-content-form">
                <div class="wizard-bottom-left-content-form-row">
                    <label for="">Adınız</label>
                    @Html.TextBoxFor(m => m.Name, new { Name = "first_name", id = "first_name", required = "required", placeholder = "Adınız*" })
                    
                </div>
                <div class="wizard-bottom-left-content-form-row">
                    <label for="">Soyadınız</label>
                    @Html.TextBoxFor(m => m.Surname, new { Name = "last_name", id = "last_name", required = "required", placeholder = "Soyadınız*" })
                </div>
                <div class="wizard-bottom-left-content-form-row">
                    <label for="">E-Postanız</label>
                    @Html.TextBoxFor(m => m.Email, new { Name = "email", id = "email", required = "required", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", placeholder = "E-Postanız*" })
                </div>
                <div class="wizard-bottom-left-content-form-row">
                    <label for="">Şirketinizin İsmi</label>
                    @Html.TextBoxFor(m => m.CompanyName, new { Name = "company", id = "company", required = "required", placeholder = "Şirketinizin ismi*" })
                </div>
                <div class="wizard-bottom-left-content-form-row">
                    <label for="">Telefon</label>
                    @Html.TextBoxFor(m => m.Phone, new { Name = "phone", id = "phone", type = "hidden", required = "required", placeholder = "Telefon Numaranız*", @class = "normal_phone" })
                    @Html.TextBoxFor(m => m.Phone, new { Name = "_phone", id = "_phone", required = "required", placeholder = "Telefon Numaranız*", @class = "phones" })
                </div>
                <div class="wizard-bottom-left-content-form-row responsive-textarea">
                    <label for="">Mesajınız</label>
                    @Html.TextAreaFor(m => m.Message, new { Name = "00N0Y00000QeRBp", id = "00N0Y00000QeRBp",  placeholder = "Mesaj" })
                </div>
                <div class="wizard-bottom-left-content-form-row">
                    <div class="wizard-bottom-left-content-form-row-text">
                        <p>Kişisel Veriler Bilgilendirme Metni</p>
                        <svg class="svg-inline--fa fa-caret-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg><!-- <i class="fas fa-caret-down"></i> -->
                                        
                    </div>
                    <div class="wizard-bottom-left-content-form-row-text__hide">
                        <p>İşbu 6698 Sayılı Kişisel Verilerin Korunması Kanunu ile yürürlükteki yasal mevzuata uygun olarak ve 6698 sayılı Kişisel Verilerin Korunması Kanunu <b>(“Kanun”) </b> kapsamında <b>“Veri Sorumlusu” </b> sıfatıyla Mikro Yazılımevi Yazılım Hizmetleri Bilgisayar Sanayi ve Ticaret A.Ş.’ye <b>(“Şirket”) </b>  ait www.mikro.com.tr alan adlı internet sitesinin kullanması ile bağlantılı olarak elde edilen ve tarafımızca sağlanan verilerin toplanması, işlenmesi ve kullanım türü, derecesi ve amacı ile ilgili olarak siz kullanıcılarımıza bilgilendirme yapılması amaçlanmaktadır.</p>
                        <p>www.mikro.com.tr alan adlı internet sitesi Mikro Yazılımevi Yazılım Hizmetleri Bilgisayar Sanayi ve Ticaret A.Ş. tarafından işletilmektedir. Şirket kullanıcıların kişisel verilerinin yönetilmesinde sorumlu kuruluştur. İşbu madde kapsamındaki bilgilendirme 6698 sayılı “Kişisel Verilerin Korunması Kanunu” kapsamında yapılmaktadır.</p>
                        <p>Kişisel verilerinizinin, gizli bilgilerinizin korunmasını ve gizli tutulmasını ciddiye almaktayız. Kanun ve ilgili mevzuat hükümlerine tarafımızca, çalışanlarımızca ve servis sağlayıcılarımızca görevlerini yerlerine getirirlerken gizliliklerine mutlaka dikkat edilmesini ve yalnızca sizlere bildirdiğimiz amaçlarla kullanılmasını sağlamak üzere teknik ve idari önlemleri almaktayız.</p>
                        <p>Kişisel verilerin işlenmesi, kişisel verilerin tamamen ve kısmen otomatik olan (çerezler) ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde edilebilir hale getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi kişilere ait veriler üzerinde gerçekleştirilen her türlü işlemi ifade etmektedir.</p>
                        <p>İnternet sitesine üyeliği kapsamında bizlere sağladığınız bilgileriniz, buna ek olarak mal ve hizmet alımlarınız sırasında çerezler ve benzeri yöntemler aracılığı edinilen bilgiler; bizim tarafımızdan, mevcut ve ilerideki iştiraklerimiz, bağlı şirketlerimiz, hissedarlarımız, iş ortaklarımız, haleflerimiz, hizmet ve faaliyetlerimiz ile yan hizmetlerimizi yürütmek üzere hizmet aldığımız, işbirliği yaptığımız, yurt içinde ve/veya yurtdışında faaliyet gösteren program ortağı kuruluşlar ve diğer üçüncü kişiler (hukuk ve vergi danışmanlarımız, bankalar, bağımsız denetçiler dahil ve fakat bunlarla sınırlı olmamak üzere, sizlere hizmet sunabilmemiz için işbirliği yaptığımız veya yapabileceğimiz hizmet tedarikçileri) ve/veya bunların belirleyecekleri üçüncü kişiler/kuruluşlar tarafından muhtelif mal ve hizmetlerin sağlanması ve her türlü bilgilendirme, reklam-tanıtım, promosyon, satış, pazarlama ve üyelik uygulamaları amaçlı yapılacak elektronik ve diğer ticari-sosyal iletişimler için, belirtilenler ve halefleri nezdinde süresiz olarak veya öngörecekleri süre ile kayda alınabilecek, basılı/manyetik arşivlerde saklanabilecek, gerekli görülen hallerde güncellenebilecek, paylaşılabilecek, aktarılabilecek, transfer edilebilecek, kullanılabilecek ve Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenebilecektir. Buna ek olarak Kanun dahil ilgili mevzuat hükümleri dahilinde zorunlu olması durumunda bazı uygulamalar ve işlemler için ayrıca ilave izniniz de gerekebilecektir. Bu durumlarda sizlerle iletişime geçilecek ve sizlerin açık rızaları rica edilecektir. Bu verilere ek olarak bizlere iletmiş olduğunuz kişisel verileriniz hukukun gerekli kıldığı durumlarda resmi kurum/kuruluşlar, mahkemeler tarafından talep edilmesi halinde ilgili merci ve mahkemelere iletilebilecektir. </p>

                        <p>Kişisel verileriniz internet sitemizde siz kullanıcılarımıza daha iyi hizmet sunabilmesi, hizmetlerimizin iyileştirebilmesi, ayrıca bu konuda izin vermiş olmanız durumunda pazarlama faaliyetlerinde kullanılabilmesi, ürün/hizmet teklifi, her türlü bilgilendirme, reklam-tanıtım, promosyon, satış, pazarlama, mağaza kartı, kredi kartı ve üyelik uygulamaları, modelleme, raporlama, skorlama, internet sitesinin kullanımını kolaylaştırılması, kullanıcılarının ilgi alanlarına ve tercihlerine yönelik tarafımızca veya iştiraklerimiz tarafından yapılacak geliştirme çalışmalarda kullanılabilecektir. İnternet sitesi üzerinde yaptığınız hareketlerin çerezler ve benzeri yöntemlerle izlenebileceğini, kaydının tutulabileceğini, istatistiki veya yukarıda bahsedilen amaçlarla kullanılabilecektir. Ancak buna ek olarak önemle belirtmek isteriz ki internet sitemize üyelik, ürün veya hizmetlerimizin satın alınması ve bilgi güncelleme amaçlı girilen bilgiler, kredi kartı ve banka kartlarına ait gizli bilgiler diğer internet kullanıcıları tarafından görüntülenemez.</p>

                        <p>Ebeveyninin veya velisinin izni olmadan küçüklerin kişisel verilerini göndermemeleri gerekmektedir.</p>
                        <p>Şirket’e ait internet sitesinin, durumun niteliğine göre diğer internet sitelerine bağlantılar içermesi halinde bu sitelerin operatörlerinin veri koruma hükümlerine uygun olup olmamaları hususunda hiçbir taahhütte bulunmamaktayız. Şirket, link veya benzeri başka yöntemlerle bağlantı verdiği sitelerin içeriklerinden hiçbir zaman sorumlu değildir.</p>
                        <p>6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun 11. maddesi uyarınca; kişisel verilerinizin işlenip işlenmediğini öğrenme, kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme, kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme, kişisel verilerinizin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işleme ilişkin olarak kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme, Kanun’un ve ilgili sair mevzuat hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme, işlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme, kişisel verilerinizin Kanun’a aykırı olarak işlenmesi sebebiyle zarara uğramanız halinde zararın giderilmesini talep etme haklarına sahipsiniz. Kişisel veri sahipleri olarak, az önce saymış olduğumuz haklarınıza ilişkin taleplerinizi, söz konusu yöntemlerle Şirket’e iletmeniz durumunda Şirketimiz talebin niteliğine göre en kısa sürede ve en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyeti gerektirmesi halinde Kişisel Verileri Koruma Kurulunca belirlenen tarifedeki ücret alınabilir.</p>
                        <p>Kanun’un 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili talebinizi, yazılı olarak veya Kişisel Verileri Koruma Kurulu’nun belirlediği diğer yöntemlerle Şirket’e iletebilirsiniz. Kişisel Verileri Koruma Kurulu tarafından şu aşamada ilgili haklarınızın kullanımına ilişkin herhangi bir yöntem belirlemediği için, başvurunuzu Kanun gereğince, yazılı olarak Şirket’e iletmeniz gerekmektedir. </p>
                        <p><b>Çerezler</b></p>
                        <p>İnternet sitemizde; IP adresi, kullanılan tarayıcı, bilgisayarınızdaki işletim sistemi, internet bağlantınız, site kullanımları hakkındaki bilgiler gibi belirli verileri otomatik olarak elde etmemize yardımcı olan çerezler (cookie) bulunmaktadır. Söz konusu çerezler bir internet sayfası sunucusu tarafından sabit sürücünüze iletilen küçük metin dosyalarıdır ve sitemizde bulunan çerezler, bilgisayarınız için zararlı sayılabilecek virüsler göndermek için kullanılmamaktadır. </p>
                        <p>Çerezler genellikle bilgisayarınızda saklanarak, internet sitemizde yapmış olduğunuz işlemler, gezintileriniz esnasındaki tıklamalarınızın kaydedilmesi yolu ile internet sitesini hangi zaman dilimi içerisinde, ne kadar süre ile kaç kişinin kullandığı, bir kişinin internet sitesini hangi amaçlarla, kaç kez ziyaret ettiği ve site üzerinde ne kadar vakit harcadığı hakkında istatistiksel bilgileri elde etmek ve kullanıcı sayfalarından dinamik olarak reklam ve içerik üretilmesine yardımcı olmak amacı ile sağlanmaktadır. İnternet sitemizi kullanarak kullanılan çerezleri onaylamış olursunuz. Şirket, söz konusu çerezler aracılığı ile verilerinizi işleyebilir ve elde edilen bilgileri analiz etme amacı ile bu kapsamda yurtiçinde ve yurtdışında üçüncü kişilere aktarabilir.</p>
                        <p>Çerezler tarafından verileriniz toplanmadan internet sitemizi görüntülemek istiyorsanız seçiminizi cihazınızın/tarayıcınızın ayarlarından her zaman değiştirebilirsiniz. Çerezlerin kullanımını durdurduğunuzda internet sitemizde her türlü işlemi belirli özelliklerinin çalışmayabileceğini lütfen unutmayınız.</p>
                        <p><b>Açık Rıza</b></p>
                        <p>Sizler, internet sitemize girerek tarafımıza sağlamış olduğunuz kişisel verilerinizin Kanun’a ve işbu 6698 Sayılı Kişisel Verilerin Korunması Kanunu’ne uygun bir şekilde ve belirtilen amaçlarla işlenebileceğini bilmekte, kabul etmekte ve ayrıca işbu 6698 Sayılı Kişisel Verilerin Korunması Kanunu ile Kanun kapsamında yapılması gereken aydınlatma yükümlülüğü yerine getirildiğini, Sözleşme’yi okuduğunuzu, anladığınızı, haklarınızın ve yükümlülüklerinin bilincinde olduğunuzu beyan etmektesiniz.</p>
                    </div>
                </div>
                <div class="wizard-bottom-left-content-form-row">
                    <label for="check"><input type="checkbox" id="check" required="required">Kişisel Veriler Bilgilendirme Metni'ni kabul ediyorum.</label>
                    <input type="submit" name="SaveButton" value="Gönder" onclick="return formSubmit('contactDetailForm' , 'bize-ulasin');"/>
                    @* <a href="#">Gönder<svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg><!-- <i class="fas fa-arrow-right"></i> --></a> *@
                </div>
            </div>
        </div>
    </div>
    <div class="wizard-bottom-left-content">
        <div class="wizard-bottom-left-content-form-row contact-us-right-textarea">
            <label for="">Mesajınız</label>
            <textarea name="" id="" cols="70" rows="18"></textarea>
        </div>
    </div>
</div>
}

