@model SitefinityWebApp.Mvc.Models.ViewModel.ProductSelectionWizard

@using (@Html.BeginForm("Index", "ProductSelectionWizard", FormMethod.Post))
{ }

<div class="wizard">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { action = "https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" }))
    {
        <div class="wizard-content">
            <div class="wizard-content__text">
                <strong>Firmanıza en uygun Mikro yazılımını hemen seçin.</strong>
                <p>Mikro ürünleri arasında sizin ihtiyacınıza en uygun ürünler hangileri? Sadece 2 dakikanızı ayırarak Mikro’nun size en uygun ürününü seçin. İster hemen satın alın, isterseniz size özel fiyatlarımız için bizden teklif isteyin.</p>
            </div>

            <div class="wizard-form">


                @if (Model.FormItems != null && Model.FormItems.Count > 0)
                {
                    foreach (var item in Model.FormItems)
                    {
                        if (item.InputType == SitefinityWebApp.Library.InputType.Hidden)
                        {
                            <input type="hidden" id="@item.InputName" name="@item.InputName" value="@item.InputValue" />

                        }
                        else if (item.InputType == SitefinityWebApp.Library.InputType.TextBox)
                        {
                            <div class="wizard-form-row">
                                <label>@item.LabelValue<span>@item.LabelValueShort</span></label>
                                <input type="text" id="@item.InputName" name="@item.InputName" value="" />
                            </div>
                        }
                        else if (item.InputType == SitefinityWebApp.Library.InputType.DropDown)
                        {
                            <div class="wizard-form-row">
                                <label>@item.LabelValue<span>@item.LabelValueShort</span></label>
                                <select id="@item.InputName" name="@item.InputName">
                                    @foreach (var dItem in item.DropDownItem)
                                    {
                                        <option value="@dItem.Value">@dItem.Text</option>
                                    }
                                </select>
                            </div>
                        }
                    }
                }

               

                @*<div class="wizard-bottom-left-content-form-row">
                    <label for="check"><input type="checkbox" id="check">Kişisel Veriler Bilgilendirme Metni'ni kabul ediyorum.</label>
                    <input type="submit" name="SaveButton" value="Gönder" />
                </div>*@



            </div>
        </div>

        <div class="wizard-bottom">
            <div class="wizard-bottom-left">
                <div class="wizard-bottom-left-content">
                    <div class="wizard-bottom-left-content-form">
                        <div class="wizard-bottom-left-content-form-row">
                            <label for="">Adınız</label>
                            @Html.TextBoxFor(m => m.Name, new { Name = "first_name", id = "first_name", required = "required" })
                        </div>
                        <div class="wizard-bottom-left-content-form-row">
                            <label for="">Soyadınız</label>
                            @Html.TextBoxFor(m => m.Surname, new { Name = "last_name", id = "last_name", required = "required" })
                        </div>
                        <div class="wizard-bottom-left-content-form-row">
                            <label for="">Firmanızın Ünvanı</label>
                            @Html.TextBoxFor(m => m.CompanyName, new { Name = "company", id = "company", required = "required" })
                        </div>
                        <div class="wizard-bottom-left-content-form-row">
                            <label for="">E-Posta</label>
                            @Html.TextBoxFor(m => m.Email, new { Name = "email", id = "email", required = "required" })
                        </div>
                        <div class="wizard-bottom-left-content-form-row">
                            <label for="">Telefon</label>
                            @Html.TextBoxFor(m => m.Phone, new { Name = "phone", id = "phone", required = "required" })
                        </div>
                        <div class="wizard-bottom-left-content-form-row">
                            <div class="wizard-bottom-left-content-form-row-text">
                                <p>Kişisel Veriler Bilgilendirme Metni</p>
                                <i class="fas fa-caret-down"></i>

                            </div>
                            <div class="wizard-bottom-left-content-form-row-text__hide">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nulla quis faucibus cursus, orci leo maximus lacus, non volutpat ipsum enim id augue. Morbi rutrum quam nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nulla quis faucibus cursus, orci leo maximus lacus, non volutpat ipsum enim id augue. Morbi rutrum quam nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nulla quis faucibus cursus, orci leo maximus lacus, non volutpat ipsum enim id augue. Morbi rutrum quam nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nulla quis faucibus cursus, orci leo maximus lacus, non volutpat ipsum enim id augue. Morbi rutrum quam nunc.</p>
                            </div>
                        </div>
                        <div class="wizard-bottom-left-content-form-row">
                            <label for="check">
                                @Html.CheckBoxFor(m => m.Contract)
                                Kişisel Veriler Bilgilendirme Metni'ni Kabul Ediyorum
                            </label>
                            <input type="submit" name="SaveButton" value="Gönder" />
                        </div>
                    </div>
<<<<<<< HEAD
                    <div class="wizard-bottom-right">
                        <img src="/Frontend/dist/images/product-wizard/product-wizard-form.svg" alt="">
                    </div>
=======

>>>>>>> d47c2ada6756af99fc90a64aba5748199227792b
                </div>
            </div>
            <div class="wizard-bottom-right">
                <img src="/Frontend/dist/images/product-wizard/bottom-img.png" alt="">
            </div>
        </div>
    }
</div>