@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
<!-- Deneyimler -->
<div class="page-section-experience">
    <div class="page-section-experience-left">

    </div>
    <div class="page-section-experience-right">
        <div class="page-section-experience-right-content">
            <a href="/kurumsal/hakkimizda">
                <div class="page-section-experience-right-content-item">
                    <div class="page-section-experience-right-content-item__img">
                        <img src="/frontend/dist/images/homepage/deneyim.svg" alt="">
                    </div>
                    <div class="page-section-experience-right-content-item__other">
                        <div class="page-section-experience-right-content-item__other__title">
                            <div class="page-section-experience-right-content-item__other__title__first">
                                <span>@Html.Resource("HomepageExperienceYearNo","Labels")</span>
                            </div>
                            <div class="page-section-experience-right-content-item__other__title__second">
                                <span>@Html.Resource("HomepageExperienceYearTitle","Labels")</span>
                            </div>
                        </div>
                        <div class="page-section-experience-right-content-item__other__text">
                            <p>@Html.Resource("HomepageExperienceYearDescription","Labels")</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/kurumsal/hakkimizda">
                <div class="page-section-experience-right-content-item">
                    <div class="page-section-experience-right-content-item__img">
                        <img src="/frontend/dist/images/homepage/musteri.svg" alt="">
                    </div>
                    <div class="page-section-experience-right-content-item__other">
                        <div class="page-section-experience-right-content-item__other__title">
                            <div class="page-section-experience-right-content-item__other__title__first">
                                <span>@Html.Resource("HomepageExperienceClientNo", "Labels")</span>
                            </div>
                            <div class="page-section-experience-right-content-item__other__title__second">
                                <span>@Html.Resource("HomepageExperienceClientTitle", "Labels")</span>
                            </div>
                        </div>
                        <div class="page-section-experience-right-content-item__other__text">
                            <p>@Html.Resource("HomepageExperienceClientDescription", "Labels")</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/kurumsal/hakkimizda">
                <div class="page-section-experience-right-content-item">
                    <div class="page-section-experience-right-content-item__img">
                        <img src="/frontend/dist/images/homepage/ortaklik.svg" alt="">
                    </div>
                    <div class="page-section-experience-right-content-item__other">
                        <div class="page-section-experience-right-content-item__other__title">
                            <div class="page-section-experience-right-content-item__other__title__first">
                                <span>@Html.Resource("HomepageExperiencePartnershipNo","Labels")</span>
                            </div>
                            <div class="page-section-experience-right-content-item__other__title__second">
                                <span>@Html.Resource("HomepageExperiencePartnershipTitle","Labels")</span>
                            </div>
                        </div>
                        <div class="page-section-experience-right-content-item__other__text">
                            <p>@Html.Resource("HomepageExperiencePartnershipDescription","Labels")</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- ///// -->